<header>
  <h2>Demo</h2>
</header>
<h4>RAWG Video Games Database API (v1.0)</h4>
<p><a href="https://api.rawg.io/docs/">Documentation</a></p>
<ul>
  <li>Get a list of creator positions (jobs)</li>
  <code>GET /creator-roles</code>
  <p><%= link_to "creator-roles json sample", api_creator_roles_path %></p>
        
  <li>Get a list of game creators</li>
  <code>GET /creators </code>
  <p><%= link_to "creators json sample", api_creators_path %></p>

  <li>Get a list of game developers</li>
  <code>GET /developers</code>
  <p><%= link_to "developers json sample", api_developers_path %></p>

  <li>Get a list of games</li>
  <code>GET /games</code>
  <p><%= link_to "games json sample", api_games_path %></p>

  <li>Get a list of video game genres</li>
  <code>GET /genres</code>
  <p><%= link_to "genres json sample", api_genres_path %></p>

  <li>Get a list of video game platforms</li>
  <code>GET /platforms</code>
  <p><%= link_to "platforms json sample", api_platforms_path %></p>

  <li>Get a list of video game publishers</li>
  <code>GET /publishers</code>
  <p><%= link_to "publishers json sample", api_publishers_path %></p>

  <li>Get a list of video game storefronts</li>
  <code>GET /stores</code>
  <p><%= link_to "storefronts json sample", api_stores_path %></p>

  <li>Get a list of tags</li>
  <code>GET /tags</code>
  <p><%= link_to "tags json sample", api_tags_path %></p>
        
</ul>