<nav id="navbar">
  <header>
    <h2>RAWG.IO: API WRAPPER</h2>
    <h2>Getting Started</h2>
  </header>
  <ul>
    <a class="nav-link" href="#What_is_an_API_wrapper">
      <li>What is an API Wrapper</li>
    </a>
    <a class="nav-link" href="#Setting_up_a_Rails_Environment">
      <li>Setting up Rails Environment</li>
    </a>
    <a class="nav-link" href="#Getting_an_API_Key">
      <li>Getting an API Key</li>
    </a>
    <a class="nav-link" href="#Call_API_in_the_Controller">
      <li>Call API in the Controller</li>
    </a>
    <a class="nav-link" href="#Demo">
      <li>Demo</li>
    </a>
  </ul>
  <footer><a href="https://github.com/grailwilly/api-wrapper"><%= image_tag("github-icon.png") %></a> <a href="https://www.linkedin.com/in/grailwilly/"><%= image_tag("linkedin.png") %></a></footer>
</nav>
<main id="main-doc">
  <h1>Building an API Wrapper with RAWG.IO, Ruby on Rails, and REST CLIENT</h1>
    <section id="What_is_an_API_wrapper" class="main-section">
      <%= render 'api-wrapper' %>
    </section>
    <section id="Setting_up_a_Rails_Environment" class="main-section">
      <%= render 'rails-env' %>
    </section>
    <section id="Getting_an_API_Key" class="main-section">
      <%= render 'getting-api-key' %>
    </section>
    <section id="Call_API_in_the_Controller" class="main-section">
      <%= render 'call-api' %>
    </section>
    <section id="Demo" class="main-section">
    <%= render 'demo' %>
    </section>
</main>